*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
.container {
    max-width: 1300px;
    width: 90%;
    margin: auto;
    position: relative;
}
.header {
    padding: 80px;
    background-color: #FAFAFA;;
    text-align: center;
    font-size: 36px;
}

.navbar ul li a{
    text-decoration: none;
    list-style: none;
    padding: 0px 35px;
    color: black;
    font-size: 24px;
}
.navbar ul li :hover{
    color: grey;
    border-bottom: solid 2px; 
}
.navbar ul li {
    list-style: none;
    text-align: center;    
}
.navbar{
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    justify-content: center;
}
.about-me{
    background-color: white;
    padding: 40px 0px;
}
.about-me h3{
    padding: 15px;
    font-size: 36px;
    text-align: center;
}
.about-me p{
    padding: 40px;
    font-size: 24px;
    background-color: #FAFAFA;
}
.proj {
    padding: 15px;
    font-size: 36px;
    text-align: center;
    
}
.proj-container{
    padding: 40px;
    display: flex;
    background-color: #FAFAFA;
}.proj-container h3{
    text-align: center;
}
.proj1, .proj2{
    flex: 1;
    padding: 20px;
    text-align: center;
}
.proj1 h4, .proj2 h4{
    font-size: 30px;
}
.proj1 p, .proj2 p{
    padding: 20px;
    font-size: 24px;;

}
.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
}

.proj1 a, .proj2 a{
    display: inline-block;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}
#contact{
    background-color: #FAFAFA;
    padding: 40px 0px;
    
    
}
.contact-title {
    padding: 40px 15px 15px 15px;
    font-size: 36px;
    text-align: center;
}
.contact-form{
    background-color: #FAFAFA;
    display: inline-block; 
    margin:  auto;
    
    text-align: center;
    width: 100%;
    

}
.contact-form input , .contact-form textarea{
    margin-top: 16px;
    width: 50%;
    background: none;
    border: none;
    border-bottom: 2px solid black;
    color: black;
    font-size: 16px;
    display: inline-block;
    
}
.contact-form .btn{
    margin-top: 30px;
    padding: 10px;
    text-decoration: none;
    color: white;
    display: block;
    width: 15%;
    text-align: center;
    font-size: 16px;
    display: inline-block;
}

.disp {
    width: 100%;
    font-size: 24px;
    display: inline-block;
    background-color: #1C1C1C;
    color: #fff;
}

.tags a{
    text-decoration: none;
    font-size: 20px;
    font-style: bold;
    color: #262626;
    padding: 10px 20px;
    padding-left: 0;
    color: #fff;
}
.foot {
    padding: 40px;
}

.disp p {
    padding-top: 20px;
    font-size: small;
}

@media only screen and (max-width: 767px){

    .container {
        padding: 0px;
    }
    .header{
        padding: 40px 0px 0px 0px;
    }

    .navbar ul li a{
        font-size: 20px;
        padding: 7px;
    }
    .about-me p {
        text-align: center;
    }
    .proj-container {
        display: inline-block;
        width: 100%;
        padding: 40px 0px 0px 0px;
    }
    .contact-form .btn{
        width: 30%;
    }
    .tags a {
        padding-left: 0px;
    }
}

